In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [4]:
dataset=dataset.drop("User ID",axis=1)
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0         True
1     35            20000          0         True
2     26            43000          0        False
3     27            57000          0        False
4     19            76000          0         True
..   ...              ...        ...          ...
395   46            41000          1        False
396   51            23000          1         True
397   50            20000          1        False
398   36            33000          0         True
399   49            36000          1        False

[400 rows x 4 columns]

In [5]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [6]:
indep=dataset[["Age","EstimatedSalary","Gender_Male"]]
dep=dataset["Purchased"]

In [7]:
indep.shape

(400, 3)

In [8]:
dep

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [9]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [31]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0,gamma='scale')
classifier=classifier.fit(X_train, y_train)

In [32]:
y_pred = classifier.predict(X_test)

In [33]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [34]:
cm

array([[82,  3],
       [26, 23]], dtype=int64)

In [35]:
from sklearn.metrics import classification_report,accuracy_score
clf_report = classification_report(y_test, y_pred)

In [36]:
print(clf_report)
#Accuracy: This indicates the overall correctness of the classifier's predictions, calculated as the ratio of correct predictions to the total number of predictions.
#Precision: Precision is a measure of the accuracy of positive predictions made by the classifier. It is calculated as the ratio of true positive predictions to the total number of positive predictions (both true positives and false positives). Precision is often used when the cost of false positives is high.
#Recall (or Sensitivity): Recall measures the completeness of the classifier's predictions. It is calculated as the ratio of true positive predictions to the total number of actual positive instances (true positives and false negatives). Recall is particularly important when it's crucial to capture all positive instances, even if it means also including false positives.
#F1-score: The F1-score is the harmonic mean of precision and recall. It provides a single metric that balances both precision and recall. It is calculated as 2 * ((precision * recall) / (precision + recall)).
#Confusion Matrix: A confusion matrix is a table that summarizes the performance of a classification algorithm. It compares the actual values of the target variable with the values predicted by the classifier. The matrix has rows corresponding to the actual classes and columns corresponding to the predicted classes. It provides insights into the number of true positives, false positives, true negatives, and false negatives.
#support: In a classifier (clf) report, "support" refers to the number of actual occurrences of each class in the specified dataset.
#Class 0: 82+3=85 Class 1: 26+23=49 Total Weighted support:85+49=134

              precision    recall  f1-score   support

           0       0.76      0.96      0.85        85
           1       0.88      0.47      0.61        49

    accuracy                           0.78       134
   macro avg       0.82      0.72      0.73       134
weighted avg       0.81      0.78      0.76       134

In [42]:
accuracy=accuracy_score(y_test,y_pred)
print("Accuracy score is     : ",accuracy) 
# Parse the classification report and extract the F1 score
lines = clf_report.split('\n')
f1_score_line = lines[2]  # Assuming F1-score is in the 5th line
f1_score = float(f1_score_line.split()[3])  # Extract F1-score value
print("F1 Score Not Purchased:", f1_score)
f1_score_line = lines[3]
f1_score = float(f1_score_line.split()[3])  # Extract F1-score value
print("F1 Score Purchased    :", f1_score)

Accuracy score is     :  0.7835820895522388
F1 Score Not Purchased: 0.85
F1 Score Purchased    : 0.61

In [40]:
# Parse the classification report and extract individual values
lines = clf_report.split('\n')
classes = []
precision = []
recall = []
f1_score = []
support = []

for line in lines[2:-5]:  # Skip the first two lines and the last five lines
    values = line.split()
    classes.append(values[0])
    precision.append(float(values[1]))
    recall.append(float(values[2]))
    f1_score.append(float(values[3]))
    support.append(int(values[4]))

# Print individual values
print("Classes  :", classes)
print("Precision:", precision)
print("Recall   :", recall)
print("F1 Score :", f1_score)
print("Support  :", support)

Classes  : ['0', '1']
Precision: [0.76, 0.88]
Recall   : [0.96, 0.47]
F1 Score : [0.85, 0.61]
Support  : [85, 49]

In [41]:
# Parse the classification report and extract macro and weighted average values
lines = clf_report.split('\n')

# Find the row indices containing 'macro avg' and 'weighted avg'
macro_avg_index = [i for i, line in enumerate(lines) if 'macro avg' in line][0]
weighted_avg_index = [i for i, line in enumerate(lines) if 'weighted avg' in line][0]

# Extract macro average values
macro_avg_line = lines[macro_avg_index].split()
macro_precision = float(macro_avg_line[2])  # Precision is at index 2
macro_recall = float(macro_avg_line[3])     # Recall is at index 3
macro_f1_score = float(macro_avg_line[4])   # F1-score is at index 4
macro_support = int(macro_avg_line[5])      # Support is at index 5

# Extract weighted average values
weighted_avg_line = lines[weighted_avg_index].split()
weighted_precision = float(weighted_avg_line[2])   # Precision is at index 2
weighted_recall = float(weighted_avg_line[3])      # Recall is at index 3
weighted_f1_score = float(weighted_avg_line[4])    # F1-score is at index 4
weighted_support = int(weighted_avg_line[5])       # Support is at index 5

# Print macro and weighted average values separately
print("Macro Average:")
print("Precision    :", macro_precision)
print("Recall       :", macro_recall)
print("F1 Score     :", macro_f1_score)
print("Support      :", macro_support)

print("\nWeighted Average:")
print("Precision    :", weighted_precision)
print("Recall       :", weighted_recall)
print("F1 Score     :", weighted_f1_score)
print("Support      :", weighted_support)

Macro Average:
Precision    : 0.82
Recall       : 0.72
F1 Score     : 0.73
Support      : 134

Weighted Average:
Precision    : 0.81
Recall       : 0.78
F1 Score     : 0.76
Support      : 134